public/flow/device_listen.json
[{"id":"e68ae91d.d64248","type":"comment","z":"c10fe1f2.e4564","name":"用node-red監聽路由呈現頁面","info":"","x":230,"y":120,"wires":[]},{"id":"c5b39a70.8de7f8","type":"http in","z":"c10fe1f2.e4564","name":"devices","url":"/devices","method":"get","swaggerDoc":"","x":160,"y":180,"wires":[["73cd1da7.e0f4e4"]]},{"id":"73cd1da7.e0f4e4","type":"function","z":"c10fe1f2.e4564","name":"Get mac","func":"node.warn(JSON.stringify(msg.req.query.mac));\nvar mac = msg.req.query.mac;\ncontext.global.selectedMac = mac;\nnode.warn('$$$$ msg.payload : '+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["29f5f878.c7ea78"]]},{"id":"d9f7579d.5af1f8","type":"http response","z":"c10fe1f2.e4564","name":"","x":714,"y":187,"wires":[]},{"id":"29f5f878.c7ea78","type":"template","z":"c10fe1f2.e4564","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"zh-Hant-TW\">\n{{{mac}}}\n\t<head>\n\n\t\t<meta charset=\"utf-8\">\n\t\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<meta name=\"description\" content=\"\">\n\t\t<meta name=\"author\" content=\"\">\n\n\t\t<title>正文科技Lora展示</title>\n\n\t\t<!-- Bootstrap Core CSS -->\n\t\t<link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n\n\t\t<!-- MetisMenu CSS -->\n\t\t<link href=\"vendor/metisMenu/metisMenu.min.css\" rel=\"stylesheet\">\n\n\t\t<!-- Custom CSS -->\n\t\t<link href=\"css/sb-admin-2.css\" rel=\"stylesheet\">\n\n\t\t<!-- Morris Charts CSS -->\n\t\t<link href=\"vendor/morrisjs/morris.css\" rel=\"stylesheet\">\n\n\t\t<!-- Custom Fonts -->\n\t\t<link href=\"vendor/font-awesome/css/font-awesome.min.css\" rel=\"stylesheet\" type=\"text/css\">\n\n\t\t<!-- jquery.dataTables-->\n\t\t<link href=\"vendor/DataTables-1.10.13/media/css/jquery.dataTables.min.css\"\n\n\t\trel=\"stylesheet\">\n\t\t<!-- button.dataTables-->\n\t\t<link href=\"vendor/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n\n\t\t<!--  JSCal2-1.7-->\n\t\t<link href=\"/vendor/JSCal2-1.7/css/jscal2.css\" type=\"text/css\" rel=\"stylesheet\"/>\n\n\t\t<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->\n\t\t<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n\t\t<!--[if lt IE 9]>\n\t\t\t<script src=\"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js\"></script>\n\t\t\t<script src=\"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js\"></script>\n\t\t<![endif]-->\n\n\t</head>\n\n\t<body>\n\n\t\t<div id=\"wrapper\">\n\n\t\t\t<!-- Navigation -->\n\t\t\t<nav class=\"navbar navbar-default navbar-static-top\" role=\"navigation\" style=\"margin-bottom: 0\">\n\t\t\t\t<div class=\"navbar-header\">\n\t\t\t\t\t<button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n\t\t\t\t\t\t<span class=\"sr-only\">Toggle navigation</span>\n\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t</button>\n\t\t\t\t\t<a class=\"navbar-brand\" href=\"index.html\">正文科技Lora展示</a>\n\t\t\t\t</div>\n\t\t\t\t<!-- /.navbar-header -->\n\n\t\t\t\t<div class=\"navbar-default sidebar\" role=\"navigation\">\n\t\t\t\t\t<div class=\"sidebar-nav navbar-collapse\">\n\t\t\t\t\t\t<ul class=\"nav\" id=\"side-menu\">\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/\"><i class=\"fa fa-dashboard fa-fw\"></i> 首頁</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<!--<li>\n\t\t\t\t\t\t\t\t<a href=\"/update\"><i class=\"fa fa-desktop fa-fw\"></i> 更新</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/find\"><i class=\"fa fa-dashboard fa-fw\"></i> 查詢</a>\n\t\t\t\t\t\t\t</li>-->\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/finalList\"><i class=\"fa fa-cloud-download fa-fw\"></i> 最新資訊</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/setting\"><i class=\"fa fa-pencil fa-fw\"></i> 設定</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t\t<!-- /.sidebar-collapse -->\n\t\t\t\t</div>\n\t\t\t\t<!-- /.navbar-static-side -->\n\t\t\t</nav>\n\n\t\t\t<!-- Page Content -->\n\t\t\t<div id=\"page-wrapper\">\n\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t<!--<div class=\"row\">\n\t\t\t\t\t\t<div class=\"col-lg-12\">-->\n\t\t\t\t\t<div class=\"row\">\n\t\t\t\t\t\t<div class=\"col-md-12\">\n\t\t\t\t\t\t\t<div class=\"col-md-2\">\n\t\t\t\t\t\t\t  <button type=\"button\" id=\"back\" name=\"back\" class=\"btn btn-primary btn-sm\" onClick=\"back()\">\n\t\t\t\t\t\t\t\t<img src=\"icons/back.png\" width=\"ˇ30\" height=\"30\"/> Back\n\t\t\t\t\t\t\t  </button>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"col-md-12\">\n\t\t\t\t\t\t\t\t<h2><span id=\"device_mac\">{{{payload.mac}}}</span></h2>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"col-md-12 column\">\n\n\t\t\t\t\t\t\t  <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n\t\t\t\t\t\t\t\t  <thead>\n\t\t\t\t\t\t\t\t\t  <tr style=\"color:#428bca\">\n\t\t\t\t\t\t\t\t\t\t<th>項目</th>\n\t\t\t\t\t\t\t\t\t\t<th>時間</th>\n\t\t\t\t\t\t\t\t\t\t<th>資料</th>\n\t\t\t\t\t\t\t\t\t\t<th>溫度</th>\n\t\t\t\t\t\t\t\t\t\t<th>濕度</th>\n\t\t\t\t\t\t\t\t\t  </tr>\n\t\t\t\t\t\t\t\t  </thead>\n\t\t\t\t\t\t\t\t  <tbody>\n\t\t\t\t\t\t\t\t\t  <tr>\n\t\t\t\t\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t\t\t\t\t<td></td>\n\t\t\t\t\t\t\t\t\t  </tr>\n\t\t\t\t\t\t\t\t  </tbody>\n\t\t\t\t\t\t\t  </table>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t  <input id=\"mac\" name=\"mac\" value=\"{{{payload.mac}}}\" type=\"hidden\">\n\t\t\t\t\t  <input id=\"date\" name=\"date\" value=\"{{{payload.date}}}\" type=\"hidden\" >         \n\t\t\t\t\t\t\t <!--</div>\n\t\t\t\t\t\t<!-- /.col-lg-12 -->\n\t\t\t\t\t<!--</div>\n\t\t\t\t\t<!-- /.row -->\n\t\t\t\t</div>\n\t\t\t\t<!-- /.container-fluid -->\n\t\t\t</div>\n\t\t\t<!-- /#page-wrapper -->\n\n\t\t</div>\n\t\t<!-- /#wrapper -->\n\n\t\t<!-- jQuery -->\n\t\t<script src=\"js/jquery-1.12.4.js\"></script>\n\n\t\t<!-- Bootstrap Core JavaScript -->\n\t\t<script src=\"js/bootstrap.min.js\"></script>\n\n\t\t<!-- Metis Menu Plugin JavaScript -->\n\t\t<script src=\"vendor/metisMenu/metisMenu.min.js\"></script>\n\n\t\t\n\t\t<!-- JQUERY DataTables-->\n\t\t<script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js\"></script>\n\t\t<!-- Button DataTables-->\n\t\t<script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js\"></script>\n\t\t <!-- Button DataTables-->\n\t\t<script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js\"></script>\n\t\t<!-- JZIP -->\n\t\t<script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\jszip.min.js\"></script>\n\t\t<!-- PDF MAKE -->\n\t\t<script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\pdfmake.min.js\"></script>\n\t\t<!-- VFS FONT -->\n\t\t<script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\vfs_fonts.js\"></script>\n\t\t<!-- BUTTON HTML5 -->\n\t\t<script type=\"text/javascript\" src=\"/js/bootstrap-waitingfor.min.js\"></script>\n\t\t<!-- WAITING DIALOG -->\n\t\t<script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.min.js\"></script>\n\t\t<!-- Custom Theme JavaScript -->\n\t\t<script src=\"js/sb-admin-2.js\"></script>\n\n\t\t<!--<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>-->\n\t\t<!--  JSCal2-1.7-->\n\t\t<script type=\"text/javascript\" src=\"/vendor/JSCal2-1.7/js/jscal2.js\"></script>\n\t\t<script type=\"text/javascript\" src=\"/vendor/JSCal2-1.7/js/lang/b5.js\"></script>\n\t\t<!-- Self-define -->\n\t\t<script type=\"text/javascript\" src=\"js/myDevice.js\" ></script>\n\n\t</body>\n\n</html>    ","x":540.98046875,"y":176.99609375,"wires":[["d9f7579d.5af1f8"]]}]