public/flow/mqtt_all.json
[{"id":"6269e7df.d72af8","type":"function","z":"f66dc1a7.ba07a","name":"取出溫濕度","func":"var obj = msg.payload;\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":430,"y":380,"wires":[["1fb45f0f.2b93c1","c04725d8.ccfec8","11285ce2.627043"],["ac9411de.16e75","6a7c54ba.cb5ecc"]]},{"id":"27626403.22084c","type":"function","z":"f66dc1a7.ba07a","name":"解析資料","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":412.39453125,"y":146.390625,"wires":[["8212c74c.62e078","6269e7df.d72af8","b22a6a7d.39bc88"]]},{"id":"b22a6a7d.39bc88","type":"function","z":"f66dc1a7.ba07a","name":"存到資料庫","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["665e192.18ca9e8"]]},{"id":"665e192.18ca9e8","type":"debug","z":"f66dc1a7.ba07a","name":"","active":false,"console":"false","complete":"payload","x":880,"y":140,"wires":[]},{"id":"8a235278.854c8","type":"mqtt in","z":"f66dc1a7.ba07a","name":"MQTT sub","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"367ae1ef.3b064e","x":137.01953125,"y":76.00390625,"wires":[["c48aa13b.8628c"]]},{"id":"2aa1b377.51783c","type":"function","z":"f66dc1a7.ba07a","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":492.01947021484375,"y":496.5038757324219,"wires":[[]]},{"id":"c243d669.eaa608","type":"function","z":"f66dc1a7.ba07a","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":484.01947021484375,"y":538.0038452148438,"wires":[[]]},{"id":"1fb45f0f.2b93c1","type":"ui_gauge","z":"f66dc1a7.ba07a","name":"溫度","group":"2fe731dc.abaf8e","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":420,"wires":[]},{"id":"ac9411de.16e75","type":"ui_gauge","z":"f66dc1a7.ba07a","name":"濕度","group":"e74349d7.0510b8","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":828.9999542236328,"y":518.9999961853027,"wires":[]},{"id":"2ee850a8.92b7","type":"inject","z":"f66dc1a7.ba07a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":157.01947021484375,"y":352.5038757324219,"wires":[["2aa1b377.51783c","c243d669.eaa608"]]},{"id":"c04725d8.ccfec8","type":"ui_chart","z":"f66dc1a7.ba07a","name":"","group":"2fe731dc.abaf8e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":828.4999542236328,"y":467.33334732055664,"wires":[[],[]]},{"id":"e8683454.71d238","type":"inject","z":"f66dc1a7.ba07a","name":"","topic":"","payload":"{\"id\":\"f8e1034f-e8f0-408d-b174-ef448e824acc\",\"macAddr\":\"05010326\",\"data\":\"08db1d2a\",\"buff\":\"2017-12-13T08:10:03.541Z\",\"recv\":\"2017-12-13T08:10:03.000Z\",\"extra\":{\"gwip\":\"163.28.166.166\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-101,\"snr\":3.8}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":240,"wires":[["c48aa13b.8628c"]]},{"id":"c48aa13b.8628c","type":"json","z":"f66dc1a7.ba07a","name":"","x":270.01953125,"y":145.00390625,"wires":[["27626403.22084c","ac695d9a.06905"]]},{"id":"8212c74c.62e078","type":"debug","z":"f66dc1a7.ba07a","name":"","active":true,"console":"false","complete":"false","x":650.0195999145508,"y":210.00391387939453,"wires":[]},{"id":"ac695d9a.06905","type":"debug","z":"f66dc1a7.ba07a","name":"","active":false,"console":"false","complete":"false","x":404.01953125,"y":212.00390625,"wires":[]},{"id":"11285ce2.627043","type":"function","z":"f66dc1a7.ba07a","name":"比對溫度設定值","func":"var msgTools = context.global.msgTools;\nvar setting = msgTools.getSetting();\nnode.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\nif (msg.payload > setting.tempMax) { \n    msg.topic = '溫度過高通知';\n    var data = new Date() +  '溫度超過設定值';\n    msg.payload = data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["67b107dc.939958","6cc5528a.72b69c","d4deae64.f6fa6"]]},{"id":"67b107dc.939958","type":"e-mail","z":"f66dc1a7.ba07a","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":830,"y":280,"wires":[]},{"id":"6cc5528a.72b69c","type":"debug","z":"f66dc1a7.ba07a","name":"","active":true,"console":"false","complete":"false","x":850,"y":240,"wires":[]},{"id":"d4deae64.f6fa6","type":"function","z":"f66dc1a7.ba07a","name":"傳訊息給line bot","func":"var msgTools = context.global.msgTools;\nmsgTools.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[[]]},{"id":"6a7c54ba.cb5ecc","type":"ui_chart","z":"f66dc1a7.ba07a","name":"","group":"e74349d7.0510b8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":828.9999694824219,"y":564.9999904632568,"wires":[[],[]]},{"id":"367ae1ef.3b064e","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2fe731dc.abaf8e","type":"ui_group","z":"","name":"Group 1","tab":"372c3903.ca2566","order":1,"disp":true,"width":"10"},{"id":"e74349d7.0510b8","type":"ui_group","z":"","name":"Group 2","tab":"372c3903.ca2566","order":2,"disp":true,"width":"10"},{"id":"372c3903.ca2566","type":"ui_tab","z":"f66dc1a7.ba07a","name":"溫濕度","icon":"dashboard","order":1}]