public/flow/ws_all.json
[{"id":"4aa8ea1.cb8d114","type":"websocket out","z":"93f3c53c.fe2058","name":"web socket mobiUI - out","server":"b1146549.18d938","client":"","x":700,"y":340,"wires":[]},{"id":"5b0a7916.fc5dd8","type":"websocket in","z":"93f3c53c.fe2058","name":"web socket tools - in","server":"b1146549.18d938","client":"","x":120,"y":240,"wires":[["bc36e4d5.fa9c38","67f918bd.9fcd18"]]},{"id":"b56cc6cd.ae71d8","type":"comment","z":"93f3c53c.fe2058","name":"監聽 /ws/devices","info":"","x":106.98046875,"y":194.99609375,"wires":[]},{"id":"bc36e4d5.fa9c38","type":"function","z":"93f3c53c.fe2058","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":330,"y":240,"wires":[["b5874d9d.f71ab","6e5b814c.11aaf"]]},{"id":"b5874d9d.f71ab","type":"function","z":"93f3c53c.fe2058","name":"set index/view","func":"var moment = context.global.momentModule;\n\nvar mac = msg.payload.mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":700,"y":240,"wires":[["ab02a91a.24fa68"]]},{"id":"a5efe963.72cda8","type":"function","z":"93f3c53c.fe2058","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar msgTools = context.global.msgTools;\nvar data = msgTools.getTabledata (msg.payload);\n\nmsg.payload = {id:\"change_table\", v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":362,"y":340,"wires":[["4aa8ea1.cb8d114"]]},{"id":"ab02a91a.24fa68","type":"http request","z":"93f3c53c.fe2058","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":120,"y":341,"wires":[["27a8945a.d275bc","a5efe963.72cda8"]]},{"id":"27a8945a.d275bc","type":"debug","z":"93f3c53c.fe2058","name":"","active":true,"console":"false","complete":"false","x":285,"y":424,"wires":[]},{"id":"dbaf3487.d52f58","type":"websocket in","z":"93f3c53c.fe2058","name":"","server":"39845720.2eb698","client":"","x":100,"y":540,"wires":[["ea91b991.fb2d38"]]},{"id":"ea91b991.fb2d38","type":"function","z":"93f3c53c.fe2058","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar msgTools = context.global.msgTools;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    msgTools.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["dffccb48.00a428","e030383b.60d3b8"]]},{"id":"dffccb48.00a428","type":"debug","z":"93f3c53c.fe2058","name":"","active":true,"console":"false","complete":"false","x":670,"y":480,"wires":[]},{"id":"e030383b.60d3b8","type":"websocket out","z":"93f3c53c.fe2058","name":"","server":"39845720.2eb698","client":"","x":680,"y":540,"wires":[]},{"id":"e259671b.5f2738","type":"comment","z":"93f3c53c.fe2058","name":"監聽 /WS/setting ","info":"","x":110,"y":500,"wires":[]},{"id":"67f918bd.9fcd18","type":"debug","z":"93f3c53c.fe2058","name":"","active":true,"console":"false","complete":"false","x":360,"y":180,"wires":[]},{"id":"6e5b814c.11aaf","type":"debug","z":"93f3c53c.fe2058","name":"","active":true,"console":"false","complete":"false","x":680,"y":180,"wires":[]},{"id":"b1146549.18d938","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"39845720.2eb698","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"}]